In [1]:
import pandas as pd

In [2]:
data = [['Abhay', 23, 'Kannur'],
        ['Vishnu', 24, 'Idukkki'],
        ['Varun', 28, 'Kollam']]

In [3]:
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])

In [4]:
print(df)

     Name  Age     City
0   Abhay   23   Kannur
1  Vishnu   24  Idukkki
2   Varun   28   Kollam