In [31]:
import pandas as pd
import numpy as np

In [41]:
df = pd.DataFrame({
    'CName': ['Accenture', 'IBM', 'TCS', 'Deloitte', 'TATA Elxsi'],
    'Profit': [100, -200, 300, -400, 500]
})

In [43]:
df['Profit'] = df['Profit'].apply(lambda x: True if x > 0 else False)

In [44]:
print(df)

        CName  Profit
0   Accenture    True
1         IBM   False
2         TCS    True
3    Deloitte   False
4  TATA Elxsi    True