In [3]:
import pandas as pd

In [4]:
data = {'Name': ['Abhay', 'Vishnu', 'Varun'],
        'Age': [23, 24, 28],
        'City': ['Kannur', 'Idukki', 'Kollam']}

In [5]:
df = pd.DataFrame(data)

In [6]:
print(df)

     Name  Age    City
0   Abhay   23  Kannur
1  Vishnu   24  Idukki
2   Varun   28  Kollam