In [1]:
import pandas as pd

In [21]:
df = pd.DataFrame({'Name': ['Abhay', 'Vishnu', 'Varun','Vivek'],
                   'Age': [23, 24, 28,18],
                   'City': ['Kannur', 'Idukki', 'Kollam',"Wayanad"]})

In [22]:
df2 = df.head(2)

In [23]:
print(df2)

     Name  Age    City
0   Abhay   23  Kannur
1  Vishnu   24  Idukki