In [1]:
import pandas as pd

In [24]:
df = pd.DataFrame({
    'Name': ['Abhay', 'Vishnu', 'Varun', 'Vivek', 'Nimil'],
    'Occupation': ['Teacher', 'Lawyer', 'Engineer', 'Teacher', 'Accountant'],
    'Salary': [100000, 200000, 150000, 75000, 125000]
})

In [25]:
AvgSalary = df.groupby('Occupation')['Salary'].mean()

In [26]:
print(AvgSalary)

Occupation
Accountant    125000.0
Engineer      150000.0
Lawyer        200000.0
Teacher        87500.0
Name: Salary, dtype: float64