In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Medals.csv')
df = pd.DataFrame(data)
print(df)

     Country  Medals
0      India       8
1        USA       9
2  Australia       4
3      Japan       6
4      Korea       5
5      China       5

In [6]:
print(df.sort_values(by=['Country']))

     Country  Medals
2  Australia       4
5      China       5
0      India       8
3      Japan       6
4      Korea       5
1        USA       9

In [7]:
df = pd.DataFrame({'Name': ['Abhay', 'Vishnu', 'Varun','Vivek'],
                   'Age': [23, 24, 28,18],
                   'City': ['Kannur', 'Idukki', 'Kollam',"Wayanad"]},index = ['a','b','c','d'])

In [9]:
df.reset_index(inplace=True)
print(df)

  index    Name  Age     City
0     a   Abhay   23   Kannur
1     b  Vishnu   24   Idukki
2     c   Varun   28   Kollam
3     d   Vivek   18  Wayanad

In [12]:
import numpy as np
data={'Numbers':[0,1,2,np.nan,np.nan,5]}
df = pd.DataFrame(data)
print(df)
df.fillna(0,inplace=True)
print(df)

   Numbers
0      0.0
1      1.0
2      2.0
3      NaN
4      NaN
5      5.0
   Numbers
0      0.0
1      1.0
2      2.0
3      0.0
4      0.0
5      5.0

In [3]:
df = pd.DataFrame({
    'CName': ['Accenture', 'IBM', 'TCS', 'Deloitte', 'TATA Elxsi'],
    'Profit': [100, -200, 300, -400, 500]
})

df['Profit'] = df['Profit'].apply(lambda x:True if x>0 else False)
# df['Profit'] = df['Profit'] > 0
print(df)

        CName  Profit
0   Accenture    True
1         IBM   False
2         TCS    True
3    Deloitte   False
4  TATA Elxsi    True

In [14]:
data1 = {
    'Name':['1','2','3'],
    'Age':[10,12,8]
}
data2 = {
    'Name':['1','2','3'],
    'Place':['A','B','C']
}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.merge(df1,df2,on='Name')
print(df3)

  Name  Age Place
0    1   10     A
1    2   12     B
2    3    8     C